<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Available Appointments</title>
</head>
<body>
{#{% if user.is_authenticated and user is provider %}#}

    <form id="upload_app_form" method="POST" novalidate>
        {% csrf_token %}
        <br>
        <label for="appointment_time">Choose a time for your appointment:</label>
        <br>
        <input type="datetime-local" id="appointment_time"
               name="appointment_time">
        <br>
        <label for="available_number">How many available appointments can you provide for this time?</label>
        <br>
        <input type="number" id="available_number" name="quantity">
        <br>
        <button type="submit" class="btn btn-block btn-primary">SUBMIT</button>
    </form>
<script>
$('#upload_app_form').on('submit', function(event) {
    event.preventDefault();
    var form_data = new FormData(document.getElementById("upload_app_form"));
    console.log("uploaded appointment form value is ",form_data.get("appointment_time"));
    // console.log(type(jQuery.type(form_data.get("appointment_time"))));
    // $.ajaxSetup({
    //      beforeSend: function(xhr, settings) {
    //          function getCookie(name) {
    //              var cookieValue = null;
    //              if (document.cookie && document.cookie != '') {
    //                  var cookies = document.cookie.split(';');
    //                  for (var i = 0; i < cookies.length; i++) {
    //                      var cookie = jQuery.trim(cookies[i]);
    //                      if (cookie.substring(0, name.length + 1) == (name + '=')) {
    //                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
    //                          break;
    //                      }
    //                  }
    //              }
    //              return cookieValue;
    //          }
    //          if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
    //              xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    //          }
    //      }
    // });
    $.ajax({
      type: 'POST',
      url: "",
      data: form_data,
      processData: false,
      contentType: false,
      // handle a successful response
      success : function(response) {
          window.location.reload(true);
      },
      error : function(xhr,errmsg,err) {
        console.log('Ajax Error')
      }
    });
});


</script>

{#{% else %}#}

{#{% endif %}#}
</body>
</html>