{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
<div style="margin-left: 140px; margin-right: 200px">
<br>
<h2> Welcome, {{ user.username }}</h2>
</div>
<div style="margin-left: 120px; margin-right: 200px">


<div class="row" >
    <div class="columns col-12 faqs left-pad">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="faq" id="check_offer_appointment">
            <div class="row faq-q" >
              <div class="columns col-10 left-pad">
                <strong>
                  <a href="#">
                    <i class="fa fa-chevron-right">
                    </i>
                    Check Your Appointments Offer
                  </a>
                </strong>
              </div>
            </div>
            <div class="faq-a">
                <table class="center" cellpadding="2" cellspacing="2" border="1" id="offered_app_table">
                    <caption>Track Your Appointment Offers</caption>
                    <tr>
                        <th style="text-align:center">AppointmentID</th>
                        <th style="text-align:center">Status</th>
                        <th style="text-align:center">Expire Time</th>
                        <th style="text-align:center">Appointment Time</th>
                        <th style="text-align:center">Provider</th>
                        <th style="text-align:center">Appointment Address</th>
                        <th style="text-align:center">Accept</th>
                        <th style="text-align:center">Decline</th>
                        <th style="text-align:center">Cancel</th>
                    </tr>
                    <script>
                    var offer_list = {{ offer_list | safe}};
                    var offered_appointment = {{ appointment_list | safe}};
                    var all_provider_list = {{all_provider_list | safe}};
                    // console.log(offer_list);
                    // console.log(offered_appointment);
                    console.log(all_provider_list);
                    var table = document.getElementById("offered_app_table");
                    var offer_app_id_list = [];

                    function SubmitResponse(offer_app_id, response_code) {
                        var response_status;
                        if(response_code==1){
                            response_status = "accepted";
                        }else if(response_code==2){
                            response_status = "declined";
                        }else if(response_code==3){
                            response_status = "canceled";
                        }
                        // console.log(offer_app_id)
                        // console.log(response_status)
                        window.location.href = "../patient_respond/" + offer_app_id + "/" + response_status + "/";
                    }
                    for(var i=0; i<Object.keys(offer_list).length; i++){
                        var tr = document.createElement('tr');
                        var curr_dict1 = offer_list[i];
                        // console.log(curr_dict1);
                        offer_app_id_list.push(curr_dict1["id"]);
                        for(var j=0; j<9; j++){
                            var td = document.createElement('td');
                            td.style="text-align:center";
                            for(var k=0; k<Object.keys(offered_appointment).length; k++){
                                var curr_dict2 = offered_appointment[k];
                                // console.log(curr_dict2);
                                if(curr_dict1["appointment_id"]==curr_dict2["appointment_id"]){
                                    for(var m=0; m<Object.keys(all_provider_list).length; m++){
                                        var curr_dict3 = all_provider_list[m];
                                        // console.log(curr_dict3);
                                        if(curr_dict2["provider_id"]==curr_dict3["user_id"]){
                                            if(j==0){
                                                td.innerHTML = curr_dict1["appointment_id"];
                                            }
                                            if(j==1){
                                                td.innerHTML = curr_dict1["status"];
                                            }
                                            if(j==2){
                                                td.innerHTML = curr_dict1["expire_time"];
                                            }
                                            if(j==3){
                                                td.innerHTML = curr_dict2["appointment_time"];
                                            }
                                            if(j==4){
                                                td.innerHTML = curr_dict3["name"];
                                            }
                                            if(j==5){
                                                var addr = curr_dict3["address_line1"].concat(" ").concat(curr_dict3["address_line2"]).concat(", ").concat(curr_dict3["city"]).concat(", ").concat(curr_dict3["state"]).concat(", ").concat(curr_dict3["country"]).concat(", ").concat(curr_dict3["zipcode"])
                                                td.innerHTML = addr;
                                            }
                                            if(j==6){
                                                // accept button
                                                if(curr_dict1["status"]== "pending" ){
                                                    var button = document.createElement('input');
                                                    button.type = "button";
                                                    button.name = "respond_button";
                                                    button.className = "btn";
                                                    button.onclick = function(){
                                                        SubmitResponse(offer_app_id_list[this.parentNode.parentNode.rowIndex-1], 1)
                                                    }
                                                    td.appendChild(button);
                                                }else{
                                                    td.innerHTML = "";
                                                }
                                            }
                                            if(j==7){
                                                // decline button
                                                if(curr_dict1["status"]== "pending" ){
                                                    var button = document.createElement('input');
                                                    button.type = "button";
                                                    button.name = "respond_button";
                                                    button.className = "btn";
                                                    button.onclick = function(){
                                                        SubmitResponse(offer_app_id_list[this.parentNode.parentNode.rowIndex-1], 2)
                                                    }
                                                    td.appendChild(button);
                                                }else{
                                                    td.innerHTML = "";
                                                }
                                            }
                                            if(j==8){
                                            // cancel button
                                            if(curr_dict1["status"]== "accepted" ){
                                                var button = document.createElement('input');
                                                button.type = "button";
                                                button.name = "respond_button";
                                                button.className = "btn";
                                                button.onclick = function(){
                                                    SubmitResponse(offer_app_id_list[this.parentNode.parentNode.rowIndex-1], 3)
                                                }
                                                td.appendChild(button);
                                            }else{
                                                td.innerHTML = "";
                                            }
                                        }
                                        }
                                    }


                                }
                            }
                            tr.appendChild(td)
                        }
                        table.appendChild(tr);

                    }
                </script>
                </table>

            </div>
        </div>
        <div class="faq" id="edit_distance_pref">
            <div class="row faq-q" >
              <div class="columns col-10 left-pad">
                <strong>
                  <a href="#">
                    <i class="fa fa-chevron-right"></i>
                    Edit Distance Preference
                  </a>
                </strong>
              </div>
            </div>
            <div class="faq-a" >
                <form method="POST" enctype="multipart/form-data">
                    {%  csrf_token %}
                    {{ pp_form }}
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="faq" id="timeslot_pref">
            <div class="row faq-q">
              <div class="columns col-10">
                <strong>
                  <a href="#">
                    <i class="fa fa-chevron-right"></i>
                    Edit Time Preference
                  </a>
                </strong>
              </div>
            </div>
            <div class="faq-a" >
                <form action="{% url 'patient_edit_timepref' %}" method="post" id="edit_timepref_form">
                    {% csrf_token %}
                    <table id="SlotPreferenceTable" cellpadding="2" cellspacing="2" border="1">
                        <caption>Mark Your Preferred Time Slots</caption>
                        <tr>
                            <th>Slot id</th>
                            <th style="text-align:center">Weekday</th>
                            <th style="text-align:center">Start Time</th>
                            <th style="text-align:center">End Time</th>
                            <th style="text-align:center">Check to Save</th>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id1"></td>
                            <td style="text-align:center" id="weekday1"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"><input type="checkbox" name="check1" id="check1"/>&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id2"></td>
                            <td style="text-align:center" id="weekday2"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"><input type="checkbox" name="check2" id="check2"/>&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id3"></td>
                            <td style="text-align:center" id="weekday3"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"><input type="checkbox" name="check3" id="check3" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id4"></td>
                            <td style="text-align:center" id="weekday4"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"><input type="checkbox" name="check4" id="check4" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id5"></td>
                            <td style="text-align:center" id="weekday5"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"><input type="checkbox" name="check5" id="check5" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id6"></td>
                            <td style="text-align:center" id="weekday6"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"><input type="checkbox" name="check6" id="check6" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id7"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check7" id="check7" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id8"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check8" id="check8" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id9"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check9" id="check9" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id10"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check10" id="check10" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id11"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check11" id="check11" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id12"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check12" id="check12" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id13"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check13" id="check13" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id14"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check14" id="check14" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id15"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check15" id="check15" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id16"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check16" id="check16" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id17"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check17" id="check17" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id18"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check18" id="check18" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id19"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check19" id="check19" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id20"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check20" id="check20" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id21"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check21" id="check21" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id22"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check22" id="check22" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id23"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check23" id="check23" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id24"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check24" id="check24" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id25"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check25" id="check25" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id26"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check26" id="check26" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id27"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check27" id="check27" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id28"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check28" id="check28" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id29"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check29" id="check29" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id30"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check30" id="check30" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id31"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check31" id="check31" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id32"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check32" id="check32" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id33"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check33" id="check33" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id34"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check34" id="check34" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id35"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check35" id="check35" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id36"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check36" id="check36" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id37"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check37" id="check37" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id38"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check38" id="check38" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id39"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check39" id="check39" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id40"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check40" id="check40" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id41"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check41" id="check41" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id42"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check42" id="check42" />&nbsp;</td>
                        </tr>
<!--                        {% for time_slot in all_time_slots_info %}-->
<!--                        <tr>-->
<!--                            <td style="text-align:center" id="slot_id"><input type="hidden" value="1"/></td>-->
<!--                            <td style="text-align:center">{{ time_slot.weekday }}</td>-->
<!--                            <td style="text-align:center">{{ time_slot.start_time }}</td>-->
<!--                            <td style="text-align:center">{{ time_slot.end_time }}</td>-->
<!--                            <td style="text-align:center"><input type="checkbox" name="checks" id="check" value="1"/></td>-->
<!--                        </tr>-->
<!--                        {% endfor %}-->
                    </table>
                    <button type="submit">Submit</button>
                </form>
                <script>
                    var all_time_slots = {{ all_time_slots_info | safe}};
                    var saved_slots = {{ saved_slots | safe }}
                    // console.log(saved_slots);
                    // console.log(typeof saved_slots);
                    function ConvertWeekdayToString(temp_dict){
                        switch(temp_dict.weekday){
                            case 1:
                                return "Monday";
                            case 2:
                                return "Tuesday";
                            case 3:
                                return "Wednesday";
                            case 4:
                                return "Thursday";
                            case 5:
                                return "Friday";
                            case 6:
                                return "Saturday";
                            case 7:
                                return "Sunday";
                        }
                    }
                    function ModifySlotTable(all_time_slots, saved_slots) {
                        var table = document.getElementById("SlotPreferenceTable");
                        // console.log(Object.keys(all_time_slots).length)
                        for(var i = 0, row; row = table.rows[i+1]; i++) {
                            var temp_dict = all_time_slots[i];
                            for(var j = 0, col; col = row.cells[j]; j++) {
                                if(j==0){
                                    // var slot_id_input = document.createElement("input");
                                    // slot_id_input.type = "text";
                                    col.innerHTML = temp_dict.slot_id;
                                    // col.innerHTML.value = temp_dict.slot_id;
                                    // console.log(i)
                                    var saved_slots_list = []
                                    for(var k=0; k<Object.keys(saved_slots).length; k++){
                                        // console.log(saved_slots[k]["slot_id"])
                                        saved_slots_list.push(saved_slots[k]["slot_id"])
                                    }
                                    if(saved_slots_list.includes(temp_dict.slot_id)){
                                        var checkStr = "check".concat(String(temp_dict.slot_id));
                                        document.getElementById(checkStr).checked = true;
                                    }
                                }
                                if(j==1){
                                    col.innerHTML = ConvertWeekdayToString(temp_dict);
                                }
                                if(j==2){
                                    col.innerHTML = temp_dict.start_time;
                                }
                                if(j==3){
                                    col.innerHTML = temp_dict.end_time;
                                }
                                // var checkbox = document.getElementById("check");
                                // checkbox.addEventListener("change",function(){
                                //  this.value = this.checked ? temp_dict.slot_id : 0;
                                // });
                            }
                        }
                    }
                    ModifySlotTable(all_time_slots, saved_slots);
                </script>

            </div>
        </div>
        <div class="faq" id="edit_profile">
            <div class="row faq-q">
              <div class="columns col-10">
                <strong>
                  <a href="#">
                    <i class="fa fa-chevron-right"></i>
                    Edit Profile
                  </a>
                </strong>
              </div>
            </div>
            <div class="faq-a" >
                <form class="form-validate" method="post" id="ProviderUpdateProfileForm" name="ProviderUpdateProfileForm" action="{% url 'patient_profile' %}">
                    {% csrf_token %}
                    <div class="collapse">
                        <div class="row mt-4">
                            <div class="form-group col-12">
                                <label class="form-label" for="email">Account Email</label>
                                <input class="form-control" type="email" name="email" id="email" >
                            </div>
                            <div class="form-group col-12">
                                <label class="form-label" for="phone_number">Phone Number</label>
                                <input class="form-control" type="text" name="phone_number" id="phone_number" >
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label" for="address_line1">Address</label>
                                <input class="form-control" type="text" name="address_line1" id="address_line1" >
                                <br>
                                <label class="form-label" for="address_line2"></label>
                                <input class="form-control" type="text" name="address_line2" id="address_line2" >
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label" for="city">City</label>
                                <input class="form-control" type="text" name="city" id="city" >
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label" for="state">State</label>
                                <input class="form-control" type="text" name="state" id="state" >
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label" for="country">Country</label>
                                <input class="form-control" type="text" name="country" id="country">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label" for="zipcode">Zip Code</label>
                                <input class="form-control" type="text" name="zipcode" id="zipcode">
                            </div>
                        </div>
                        <button class="btn btn-outline-primary" type="submit">Submit</button>
                    </div>
                </form>
                <script>
                    document.getElementById("email").value = "{{ email | safe}}";
                    document.getElementById("phone_number").value = "{{ phone_number | safe}}";
                    document.getElementById("address_line1").value = "{{ address_line1 | safe}}";
                    document.getElementById("address_line2").value = "{{ address_line2 | safe}}";
                    document.getElementById("city").value = "{{ city | safe}}";
                    document.getElementById("state").value = "{{ state | safe}}";
                    document.getElementById("country").value = "{{ country | safe}}";
                    document.getElementById("zipcode").value = "{{ zipcode | safe}}";
                </script>
            </div>
      </div>
        <div class="faq" id="update_password">
            <div class="row faq-q">
              <div class="columns col-10">
                <strong>
                  <a href="#">
                    <i class="fa fa-chevron-right"></i>
                    Update Password
                  </a>
                </strong>
              </div>
            </div>
            <div class="faq-a" >
                <form class="form-validate" method="post" id="update_password_form" name="update_password_form" action="{% url 'update_password' %}">
                    {% csrf_token %}
                    <div class="collapse" id="updatePassword">
                        <div class="row mt-4" id="sub_update_password_form">
                            <div class="form-group col-12">
                                <label class="form-label" for="password_current">Current Password</label>
                                <input class="form-control" type="password" name="password_current" id="password_current" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label" for="password_new">New Password</label>
                                <input class="form-control" type="password" name="password_new" id="password_new" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label" for="password_confirm">Confirm Password</label>
                                <input class="form-control" type="password" name="password_confirm" id="password_confirm" required>
                            </div>
                        </div>
                        <button class="btn btn-outline-primary">Submit</button>
                    </div>
                </form>
            </div>
      </div>
    </div>
</div>


<br>
<br>
</div>




<script>
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src='//www.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

{% endblock content %}



