{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<!--    <li><a href="{% url 'patient_edit_profile' %}">Edit Profile</a></li>-->
<div class="row">
    <div class="columns col-12 faqs left-pad">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="faq" id="check_offer_appointment">
            <div class="row faq-q" >
              <div class="columns col-10 left-pad">
                <strong>
                  <a href="#">
                    <i class="fa fa-chevron-right">
                    </i>
                    Check Your Appointments Offer
                  </a>
                </strong>
              </div>
            </div>
            <div class="faq-a">
                <table class="center">
                    <tr>
                        <th style="text-align:center">AppointmentID</th>
                        <th style="text-align:center">Expire Time</th>
                        <th style="text-align:center">Status</th>
                        <th style="text-align:center">Time</th>
                        <th style="text-align:center">Provider</th>
                        <th style="text-align:center">Your Action</th>
                    </tr>
                {% for offer in offer_list %}
                    <tr>
                        <td style="text-align:center">{{ offer.appointment_id }}</td>
                        <td style="text-align:center">{{ offer.expire_time }}</td>
                        <td style="text-align:center">{{ offer.status }}</td>
                        <td style="text-align:center">{{ offer.appointment.appointment_time }}</td>
                        <td style="text-align:center">{{ offer.appointment.provider.name }}</td>
                        <td style="text-align:center">  <form><input type = "Submit" /></form></td>
                   </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        <div class="faq" id="edit_distance_pref">
            <div class="row faq-q" >
              <div class="columns col-10 left-pad">
                <strong>
                  <a href="#">
                    <i class="fa fa-chevron-right"></i>
                    Edit Distance Preference
                  </a>
                </strong>
              </div>
            </div>
            <div class="faq-a" >
                <form method="POST" enctype="multipart/form-data">
                    {%  csrf_token %}
                    {{ pp_form }}
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="faq" id="timeslot_pref">
            <div class="row faq-q">
              <div class="columns col-10">
                <strong>
                  <a href="#">
                    <i class="fa fa-chevron-right"></i>
                    Edit Time Preference
                  </a>
                </strong>
              </div>
            </div>
            <div class="faq-a" >
                <form action="{% url 'patient_edit_timepref' %}" method="post">
                    {% csrf_token %}
                    <table id="SlotPreferenceTable" cellpadding="2" cellspacing="2" border="1">
                        <caption>Mark Your Preferred Time Slots</caption>
                        <tr>
                            <th>Slot id</th>
                            <th style="text-align:center">Weekday</th>
                            <th style="text-align:center">Start Time</th>
                            <th style="text-align:center">End Time</th>
                            <th style="text-align:center">Check to Save</th>
                        </tr>
                        {% for time_slot in all_time_slots_info %}
                        <tr>
                            <td style="text-align:center" id="slot_id"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="checks" id="check"/></td>
                        </tr>

                        {% endfor %}
                    </table>
                    <button type="submit">Submit</button>
                </form>
                <script>
                    var all_time_slots = {{ all_time_slots_info | safe}};
                    var saved_slots = {{ saved_slots | safe }}
                    function get_slot_info(time_slot){
                        console.log(temp_dict.slot_id);
                    }
                    console.log(saved_slots);
                    console.log(typeof saved_slots);
                    function ConvertWeekdayToString(temp_dict){
                        switch(temp_dict.weekday){
                            case 1:
                                return "Monday";
                            case 2:
                                return "Tuesday";
                            case 3:
                                return "Wednesday";
                            case 4:
                                return "Thursday";
                            case 5:
                                return "Friday";
                            case 6:
                                return "Saturday";
                            case 7:
                                return "Sunday";
                        }
                    }
                    function ModifySlotTable(all_time_slots, saved_slots) {
                        var table = document.getElementById("SlotPreferenceTable");
                        for(var i = 0, row; row = table.rows[i+1]; i++) {
                            var temp_dict = all_time_slots[i];
                            for(var j = 0, col; col = row.cells[j]; j++) {
                                if(j==0){
                                    col.innerHTML = temp_dict.slot_id;
                                    if(i<Object.keys(saved_slots).length) {
                                        if (temp_dict.slot_id == saved_slots[i]["slot_id"]) {
                                            console.log(saved_slots[i]["slot_id"])
                                            document.getElementById("check").checked = true;
                                        }
                                    }
                                }
                                if(j==1){
                                    col.innerHTML = ConvertWeekdayToString(temp_dict);
                                }
                                if(j==2){
                                    col.innerHTML = temp_dict.start_time;
                                }
                                if(j==3){
                                    col.innerHTML = temp_dict.end_time;
                                }
                                // var checkbox = document.getElementById("check");
                                // checkbox.addEventListener("change",function(){
                                //  this.value = this.checked ? temp_dict.slot_id : 0;
                                // });
                            }
                        }
                    }
                    ModifySlotTable(all_time_slots, saved_slots);
                </script>

            </div>
        </div>
        <div class="faq" id="edit_profile">
            <div class="row faq-q">
              <div class="columns col-10">
                <strong>
                  <a href="#">
                    <i class="fa fa-chevron-right"></i>
                    Edit Profile
                  </a>
                </strong>
              </div>
            </div>
            <div class="faq-a" >
                <form method="POST" enctype="multipart/form-data">
                        {%  csrf_token %}
                        {{ u_form }}
                        {{ p_form }}
                       <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>
            </div>
      </div>
    </div>
</div>




    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>


    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

{% endblock content %}






<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
</head>
<body>

<div class="navbar">
  <a href={% url 'homepage' %}>Home</a>
  <a href="#news">News</a>
  <div class="dropdown">
    <button class="dropbtn">{{ first_name }} {{ last_name }}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href={% url 'patient_edit_profile' %}>Edit Profile</a>
      <a href={% url 'patient_edit_preference' %}>Edit Preference</a>
      <a href={% url 'logout' %}>Logout</a>
    </div>
  </div>
</div>

{#       <div class="container">#}
{#        <div class="row">#}
{#            <div class="col1 s6">#}
{#                <form method="POST" enctype="multipart/form-data">#}
{#          {% csrf_token %}#}
{#          <fieldset class="form-group">#}
{#              <legend class="border-bottom mb-4">Update Info</legend>#}
{#              {{ u_form.as_p}}#}
{#              {{ p_form.as_p }}#}
{#          </fieldset>#}
{#          <div class="form-group">#}
{#              <button class="btn btn-outline-info" type="submit">Update</button>#}
{#          </div>#}
{#      </form>#}
{#            </div>#}
{##}
{#        </div>#}



<h3>{{ first_name }} {{ last_name }}</h3>
<p>Hover over the "Dropdown" link to see the dropdown menu.</p>

</body>
</html>



<tr>
                            <td style="text-align:center" id="slot_id1"></td>
                            <td style="text-align:center" id="weekday1"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check1" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id2"></td>
                            <td style="text-align:center" id="weekday2"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check2" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id3"></td>
                            <td style="text-align:center" id="weekday3"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check3" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id4"></td>
                            <td style="text-align:center" id="weekday4"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check4" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id5"></td>
                            <td style="text-align:center" id="weekday5"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check5" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id6"></td>
                            <td style="text-align:center" id="weekday6"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check6" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id7"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check7" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id8"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check8" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id9"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check9" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id10"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check10" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id11"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check11" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id12"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check12" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id13"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check13" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id14"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check14" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id15"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check15" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id16"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check16" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id17"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check17" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id18"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check18" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id19"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check19" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id20"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check20" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id21"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check21" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id22"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check22" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id23"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check23" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id24"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check24" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id25"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check25" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id26"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check26" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id27"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check27" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id28"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check28" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id29"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check29" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id30"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check30" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id31"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check31" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id32"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check32" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id33"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check33" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id34"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check34" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id35"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check35" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id36"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check36" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id37"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check37" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id38"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check38" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id39"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check39" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id40"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check40" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id41"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check41" />&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" id="slot_id42"></td>
                            <td style="text-align:center">{{ time_slot.weekday }}</td>
                            <td style="text-align:center">{{ time_slot.start_time }}</td>
                            <td style="text-align:center">{{ time_slot.end_time }}</td>
                            <td style="text-align:center"><input type="checkbox" name="check" id="check42" />&nbsp;</td>
                        </tr>
                    </table>