

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vaccine</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style type="text/css">
	  .brand{
	  	background: #cbb09c !important;
	  }
  	.brand-text{
  		color: #cbb09c !important;
  	}
    form{
        max-width:490px;
        margin: 20px auto;
        padding: 20px;
    }
    th {
    text-align: center;
    }
    td {
    text-align: center;
    }
    td:empty::before {content: "N/A"}
    </style>
</head>
  <body class="grey lighten-4">
    <nav class = "white z-depth-0">
        <div class="container">
            <a href="{% url 'homepage' %}" class="brand-logo brand-text">Vaccine</a>
            <ul id="nav-mobile" class="right hide-on-small-and-down">
                {% if user.is_authenticated%}
                <li><a href="{% url 'logout' %}" class="btn brand z-depth-0">Logout</a></li>
                    {% else %}
                <li><a href= "{% url 'login' %}" class="btn brand z-depth-0">Login</a></li>
                    <li><a href= "{% url 'register' %}" class="btn brand z-depth-0">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1 class="hero-heading mb-0">Account Profile</h1>
        <p class="text-muted mb-5">Manage your Account Details and Settings here.</p>
        <div class="row">
            <div class="col-lg-7">
                <div class="text-block">
                    <h3 class="mb-4">Credentials</h3>
                    <div class="row">
                        <div class="col-sm-8">
                            <h5>Update Password</h5>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <form class="form-validate" method="post" id="update_password_form" name="update_password_form" action="{% url 'update_password' %}">
                            {% csrf_token %}
                            <div class="collapse" id="updatePassword">
                                <div class="row mt-4" id="sub_update_password_form">
                                    <div id="error_update_pass">
                                    </div>
                                    <div class="form-group col-12">
                                        <label class="form-label" for="password_current">Current Password</label>
                                        <input class="form-control" type="password" name="password_current" id="password_current" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="password_new">New Password</label>
                                        <input class="form-control" type="password" name="password_new" id="password_new" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="password_confirm">Confirm Password</label>
                                        <input class="form-control" type="password" name="password_confirm" id="password_confirm" required>
                                    </div>
                                </div>
                                <button class="btn btn-outline-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-block">
                    <h3 class="mb-4">Account Information</h3>
                    <div class="row">
                        <div class="col-sm-8">
                            <h5>Update Profile</h5>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <form class="form-validate" method="post" id="update_profile_form" name="update_profile_form" >
                            {% csrf_token %}
                            <div class="collapse">
                                <div class="row mt-4">
                                    <div class="form-group col-12">
                                        <label class="form-label" for="provider_name">Provider Name</label>
                                        <input class="form-control" type="text" name="provider_name" id="provider_name" >
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="provider_providerType">Provider Type</label>
                                        <input class="form-control" type="text" name="provider_providerType" id="provider_providerType" >
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="provider_address_line1">Address</label>
                                        <input class="form-control" type="text" name="provider_address_line1" id="provider_address_line1" >
                                        <br>
                                        <label class="form-label" for="provider_address_line2"></label>
                                        <input class="form-control" type="text" name="provider_address_line2" id="provider_address_line2" >
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="provider_city">City</label>
                                        <input class="form-control" type="text" name="provider_city" id="provider_city" >
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="provider_country">Country</label>
                                        <input class="form-control" type="text" name="provider_country" id="provider_country" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="provider_zipcode">Zip Code</label>
                                        <input class="form-control" type="text" name="provider_zipcode" id="provider_zipcode" required>
                                    </div>
                                </div>
                                <button class="btn btn-outline-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <script>
                    document.getElementById("provider_name").placeholder = "{{ name | safe}}";
                    document.getElementById("provider_providerType").placeholder = "{{ providerType | safe}}";
                    document.getElementById("provider_address_line1").placeholder = "{{ address_line1 | safe}}";
                    document.getElementById("provider_address_line2").placeholder = "{{ address_line2 | safe}}";
                    document.getElementById("provider_city").placeholder = "{{ city | safe}}";
                    document.getElementById("provider_country").placeholder = "{{ country | safe}}";
                    document.getElementById("provider_zipcode").placeholder = "{{ zipcode | safe}}";
                </script>
                <div class="text-block">
                    <div class="row mb-3">
                        <div class="col-sm-9">
                            <h3>Upload Available Appointments</h3>
                            <div class="row pt-4">
                                <button class="btn btn-outline-primary" onclick="location.href='../../appointment/upload'">Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>