{% load static %}

<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Got Vaccinated Today!</title>

    <meta name="description" content="Pulseadmin - A clean, responsive HTML template">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

      <link href="{% static 'css/normalize-and-boilerplate.css' %}" rel="stylesheet" />
      <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
      <link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />
      <link href="{% static 'css/style.css' %}" rel="stylesheet" />
{#      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">#}


    <link href='http://fonts.googleapis.com/css?family=Bree+Serif|Pacifico' rel='stylesheet' type='text/css' />

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
<body>

<aside class="off-canvas">
      <div class="row">
        <div class="columns col-17">
          <nav class="main-nav">
            <ul>
              <li><a class="current" href="index.html">Home</a></li>
              <li><a href="reviews.html">Reviews</a></li>
              <li><a href="buy-it-now.html">Buy it now</a></li>
              <li><a href="help-desk.html">Help desk</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="columns col-12">
          <div class="social-links">
            <a href="#" title="Like us on Facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" title="Follow us on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </aside>



<div class="on-canvas">
      <div class="canvas-overlay"></div>
        {% include 'navbar.html' %}

        {% block content %}
        {% endblock content %}


        {% include "footer.html" %}

</div>

{% include "scripts.html" %}

</body>
</html>