<footer class="footer">
        <div class="row">
          <div class="max-inner footer-content">
            <div class="columns col-3">
              <h3>Contact</h3>
              <p>
                Da Edoardo Foxtown Grille<br />
                2203 Woodward Ave<br />
                Detroit
                <br /><br />
                (43) 463 435 6344<br />
                <a href="#">office@pulseadmin.com</a>
              </p>
            </div>
            <div class="columns col-3">
              <h3>Jobs</h3>
              <ul>
                <li><a href="#">Web designer</a></li>
                <li><a href="#">PR specialist</a></li>
                <li><a href="#">Developer</a></li>
                <li><a href="#">UI/UX specialist</a></li>
              </ul>
            </div>
            <div class="columns col-3">
              <h3>Support</h3>
              <p>
                Voluptatem doloremque laudantium aperiam eaque.
                <br /><br />
                (43) 785 246 542<br />
                <a href="#">support@pulseadmin.com</a>
              </p>
            </div>
            <div class="columns col-3">
              <h3>Newsletter</h3>
              <form>
                <input placeholder="Email Address..." type="text">
                <input type="submit" value="Subscribe" class="submit">
              </form>
            </div>
          </div>
        </div>
        <div class="row copyright">
          <div class="max-inner">
            <div class="row">
              <div class="columns col-12">
                <p>Copyright &copy; 2014 PulseAdmin. All rights reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </footer>