<footer class="footer">
        <div class="row">
          <div class="max-inner footer-content">
            <div class="columns col-3">
              <h3>Contact</h3>
              <p>
                6 MetroTech Center<br />
                Brooklyn<br />
                NY 11201
                <br /><br />

                <a href="#">ezvaccine@gmail.com</a> <br/>

              </p>
            </div>
            <div class="columns col-3">
              <h3>Priority</h3>
              <ul>
                <li>Phase 1</li>
                <li>Phase 2</li>
                <li><a href="#">Phase 3</a></li>
                <li><a href="#">Phase 4</a></li>
                <li><a href="#">Phase 5</a></li>
                <li><a href="#">Phase 6</a></li>
              </ul>
            </div>
            <div class="columns col-3">
              <h3>Author</h3>
              <p>
				Chuanqi Xiong <br/>
	              Yumeng Chen
                <br/>
	              <br>

	              <a href="#">ezvaccine@gmail.com</a> <br/>
              </p>
            </div>
            <div class="columns col-3">
              <h3>Subscribe</h3>
              <form>
                <input placeholder="Email Address..." type="text">
                <input type="submit" value="Subscribe" class="submit">
              </form>
            </div>
          </div>
        </div>
        <div class="row copyright">
          <div class="max-inner">
            <div class="row">
              <div class="columns col-12">
                <p>Copyright &copy; 2021 EasyVaccine. </p>
              </div>
            </div>
          </div>
        </div>
      </footer>