{% extends 'base.html' %}
{% load static %}

{% block content %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>

    <div class="main">
        <section class="features-listing">

          <div class="row feature">
            <div class="max-inner">

              <div class="flexslider">
                <ul class="slides">
                  <!-- start: slide -->
                  <li>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="columns col-7 feature-image">
                      <img src="{% static 'images/vaccine_pic.jpeg' %}" >
                    </div>
                    <div class="columns col-5 feature-desc">
                      <h2>Got Vaccinated!</h2>
	                    <p>COVID-19 can have serious, life-threatening complications, and there is no way to know how COVID-19 will affect you. And if you get sick, you could spread the disease to friends, family, and others around you.</p>
                    </div>
                  </li>
                  <!-- end: slide -->
                  <!-- start: slide -->
                  <li>
                    <div class="columns col-7 feature-image">
                      <img src="{% static 'images/covid_data.jpeg' %}" >
                    </div>
                    <div class="columns col-5 feature-desc">
                      <h2>Data about COVID-19</h2>
	                    <p>Many people died because of covid-19. It is necessary to get vaccinated to prevent covid-19.</p>
                    </div>
                  </li>
                  <!-- end: slide -->
                </ul>
              </div>


            </div>
          </div>


          <div class="row feature">
            <div class="max-inner">
              <div class="columns col-7 feature-image">
                <img src="{% static 'images/why_pic.png' %}">
              </div>
              <div class="columns col-5 feature-desc">
                <h2>Why vaccine?</h2>
                <p>After you are fully vaccinated for COVID-19, you may be able to start doing some things that you stopped doing because of the pandemic. For example, you can gather indoors without masks with other people who are fully vaccinated.</p>
                <p>
                  And all COVID-19 vaccines currently available in the United States have been shown to be safe and effective at preventing COVID-19
                </p>
                <p><a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/vaccine-benefits.html?s_cid=10466:should%20i%20get%20the%20covid%20vaccine:sem.ga:p:RG:GM:gen:PTN:FY21" title="Learn more" class="btn">Learn more</a></p>
              </div>
            </div>
          </div>

          <div class="row feature alt-style">
            <div class="max-inner">
              <div class="columns col-4">
                <div class="feature-desc">
                  <h2>UnVaccinated People</h2>
                  <p>
	                  Unvaccinated people will take high risks for doing many things. You should wear a mask, stay 6 feet apart, and wash your hands.
                  </p>
                </div>
                <figure class="rounded easy-nav">
                  <img src="{% static 'images/least_safe.jpeg' %}" >
                  <span class="indicator-line"></span>
                </figure>
              </div>

              <div class="columns col-4">
                <figure class="iphone-wrapper"><img src="{% static 'images/outdoor.jpeg' %}" ></figure>
              </div>

              <div class="columns col-4">
                <figure class="rounded smart-charts">
                  <img src="{% static 'images/safest.png' %}" alt="Smart charts" />
                  <span class="indicator-line"></span>
                </figure>
                <div class="feature-desc">
                  <h2>Fully Vaccinated</h2>
                  <p>If you are fully vaccinated, you can start doing many things that you had stopped doing because of the pandemic.Outdoor visits and activities are safer than indoor activities.</p>
                </div>
              </div>

            </div>
          </div>


	        <div class="row feature">
            <div class="max-inner">
              <div class="columns col-7 feature-image">
                <img src="{% static 'images/why_pic.png' %}">
              </div>
              <div class="columns col-5 feature-desc">
                <h2>Priority and Eligible Date</h2>
	              <table id="PriorityGroups" style="text-align: center">
                    <tr>
                    <th >Group Number</th>
	                    <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
	                    <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Eligible Date</th>
                    </tr>
	              </table>
{#                <p><a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/vaccine-benefits.html?s_cid=10466:should%20i%20get%20the%20covid%20vaccine:sem.ga:p:RG:GM:gen:PTN:FY21" title="Learn more" class="btn">Learn more</a></p>#}
              </div>
            </div>
          </div>

        <script>
    var all_priority_groups = {{ all_priority_groups | safe}};
    // console.log(all_priority_groups);
    // console.log(typeof all_priority_groups);
    function CreatePriorityGroupTable() {
        var table = document.getElementById("PriorityGroups");
        var i;
        for(i=0; i<all_priority_groups.length; i++) {
            var temp_dict = all_priority_groups[i];
            // console.log(temp_dict);
            // console.log(typeof temp_dict);
            var row = table.insertRow(i+1);
            var cell_group_number = row.insertCell(0);
            var cell_blank = row.insertCell(1);
            var cell_blank = row.insertCell(2);
            var cell_eligible_date = row.insertCell(3);
            cell_group_number.innerHTML = temp_dict.group_number;

            cell_eligible_date.innerHTML = temp_dict.eligible_date;
        }
    }
    CreatePriorityGroupTable()
</script>

        </section>

    <section class="reviews-block" style="background-color: #eaeaea">
          <div class="row">
            <div class="max-inner">
              <div class="columns col-8 col-centered reviews-slider">
                <div class="flexslider">
                  <ul class="slides">
                    <!-- start: slide -->
                    <li>
                      <div class="row review">
                        <div class="columns col-2">
                          <img src="{%static 'images/avatar.png'%}" alt="Jason Howard" class="avatar" />
                        </div>
                        <div class="columns col-10">
                          <blockquote>
                            <p>
	                            On April 23, 2021, the Centers for Disease Control and Prevention (CDC) and the U.S. Food and Drug Administration (FDA) announced that administration of the Johnson & Johnson/Janssen (J&J) COVID-19 vaccine can resume.
                            </p>
                            <cite>Lisa Lockerd Maragakis, M.D., M.P.H.</cite>
                            </blockquote>
                        </div>
                      </div>
                    </li>
                    <!-- end: slide -->
                    <!-- start: slide -->
                    <li>
                      <div class="row review">
                        <div class="columns col-2">

                          <img src="{% static 'images/avatar.png' %}" alt="Jason Howard" class="avatar" />
                        </div>
                        <div class="columns col-10">
                          <blockquote>
                            <p>In the past, vaccines have taken many years to develop. However, the relatively quick development of this vaccine does not mean safety measures were skipped. There are several reasons why the COVID-19 vaccines were developed faster than other vaccines:</p>
                            <cite>Gabor David Kelen, M.D.</cite>
                            </blockquote>
                        </div>
                      </div>
                    </li><!-- end: slide -->

                  </ul>
                </div>

              </div>
            </div>
          </div>
        </section>


      </div>
{% endblock content %}