      <header class="header">
        <div class="row max-inner">
          <div class="columns col-4">
            <a href="#" class="toggle-off-canvas"><i class="fa fa-bars"></i></a>
            <a href="index.html" class="logo">
              <span class="highlight-color">Got</span>vaccinated
            </a>
          </div>
          <div class="columns col-8">
            <nav class="main-nav">
              <ul>
                <li><a class="current" href="{% url 'indexhome' %}">Home</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Contact</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Login</a></li>
                  <li><a href="#">Sign up</a></li>
              </ul>
            </nav>
          </div>
        </div>



      </header>